
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div>Вы уверены что хотите удалить эту запись?</div>
        <input type="submit" class="btn btn-success" value="Удалить">
        {{ form_end(form) }}
