.inline-form .form-group
{
    display: inline-block;
}

.flex-form .form-group
{
    width: 100%;
    flex: 0 1 auto;
}

form.flex-form {
    display: flex;
    flex-flow: row;
    align-items:center;
}
.status {
    font-size: 24px;
    color: #dd4b39;
}

.status.active {
    color: #00a65a;
}

.small-box h3 {
    margin-bottom: -2px;
}